# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js / Electron
node_modules
dist
dist-ssr
*.local

# Unreal Engine
Binaries/
Build/
Debug/
Intermediate/
Saved/
DerivedDataCache/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.uasset
*.umap

# Editor directories and files
.vscode/*
!.vscode/extensions.json
# Allow WebStorm run configurations while ignoring other .idea files
.idea/*
!.idea/runConfigurations/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sw?
/dist-electron/
